@font-face {
  font-family: "bigNoodle";
  src: url("Font/big_noodle_titling.ttf") format('truetype');
}

@font-face {
  font-family: "OPTIE";
  src: url("Font/OPTIEdgarBold-Extended.otf") format('truetype');
}

body {
  font-family: "bigNoodle";
  font-weight: inherit;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  background-image: url("./PNG/backgroundRecap.png");
  height: 1080px;
  width: 1920px;
}

:root {
  --color-tr-light: rgb(185, 13, 1);
  --color-tr-dark: rgb(150, 17, 0);
  --color-vs-light: rgb(97, 37, 151);
  --color-vs-dark: rgb(70, 21, 128);
  --color-nc-light: rgb(29, 70, 152);
  --color-nc-dark: rgb(23, 54, 118);
  --color-team1-light: var(--color-tr-light);
  --color-team1-dark: var(--color-tr-dark);
  --color-team2-light: var(--color-nc-light);
  --color-team2-dark: var(--color-nc-dark);
  --percent-kills: 50%;
  --percent-deaths: 50%;
  --percent-revives: 50%;
  --percent-maxRevive: 50%;
  --percent-nanitesLost: 50%;
  --percent-vehicleKilled: 50%;
  --percent-vehicleLost: 50%;
}

.progress_bar {
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
}


#kills .progress_bar .partLeft {
  width: calc(var(--percent-kills));
}

#kills .progress_bar .partRight {
  width: calc(100% - var(--percent-kills));
  left: var(--percent-kills);
}

#kills .progress_bar .cursor {
  left: calc(var(--percent-kills) - 6px);
}

#deaths .progress_bar .partLeft {
  width: calc(var(--percent-deaths));
}

#deaths .progress_bar .partRight {
  width: calc(100% - var(--percent-deaths));
  left: var(--percent-deaths);
}

#deaths .progress_bar .cursor {
  left: calc(var(--percent-deaths) - 6px);
}

#revives .progress_bar .partLeft {
  width: calc(var(--percent-revives));
}

#revives .progress_bar .partRight {
  width: calc(100% - var(--percent-revives));
  left: var(--percent-revives);
}

#revives .progress_bar .cursor {
  left: calc(var(--percent-revives) - 6px);
}

#maxRevive .progress_bar .partLeft {
  width: calc(var(--percent-maxRevive));
}

#maxRevive .progress_bar .partRight {
  width: calc(100% - var(--percent-maxRevive));
  left: var(--percent-maxRevive);
}

#maxRevive .progress_bar .cursor {
  left: calc(var(--percent-maxRevive) - 6px);
}

#nanitesLost .progress_bar .partLeft {
  width: calc(var(--percent-nanitesLost));
}

#nanitesLost .progress_bar .partRight {
  width: calc(100% - var(--percent-nanitesLost));
  left: var(--percent-nanitesLost);
}

#nanitesLost .progress_bar .cursor {
  left: calc(var(--percent-nanitesLost) - 6px);
}

#vehicleKilled .progress_bar .partLeft {
  width: calc(var(--percent-vehicleKilled));
}

#vehicleKilled .progress_bar .partRight {
  width: calc(100% - var(--percent-vehicleKilled));
  left: var(--percent-vehicleKilled);
}

#vehicleKilled .progress_bar .cursor {
  left: calc(var(--percent-vehicleKilled) - 6px);
}

#vehicleLost .progress_bar .partLeft {
  width: calc(var(--percent-vehicleLost));
}

#vehicleLost .progress_bar .partRight {
  width: calc(100% - var(--percent-vehicleLost));
  left: var(--percent-vehicleLost);
}

#vehicleLost .progress_bar .cursor {
  left: calc(var(--percent-vehicleLost) - 6px);
}

.progress_bar .partLeft {
  background-image: url(PNG/cheeseTR.png);
  height: 100%;
  border-radius: 4px;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
}

.progress_bar .partRight {
  background-image: url(PNG/beerNC.png);
  height: 100%;
  position: relative;
  top: -50px;
  bottom: 0px;
  border-radius: 4px;
  -moz-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.progress_bar .cursor {
  width: 12px;
  height: 100%;
  position: relative;
  top: -100px;
  border-radius: 4px;
  background: linear-gradient( 
90deg, rgb(110, 85, 25) 0%, rgb(235, 224, 146) 40%, rgb(255, 255, 255) 50%, rgb(235, 224, 146) 60%, rgb(110, 85, 25) 100%);
-moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
}


.ProgressBar {
  text-align: center;
  color: white;
}

.Title{
  text-align: center;
  color: white;
}
